// foundations
// @import 'foundations/variables';
// @import 'foundations/normalize';
// @import 'foundations/base';
// @import 'foundations/mixins';
// @import 'foundations/utility';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
// @import 'variables';

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Bootstrap
@import '~bootstrap/scss/bootstrap';


//components


.hoge {
  color: red;
}